body{
	padding: 0;
	margin: 0;
}

header {
	display: flex;
	background-color: #333; /* タイトル表示部の背景色 */
    color: #fff; /* タイトルのテキスト色 */
    text-align: center;
}

h1 {
	margin: 10px;
    font-family: "Gabriola";
    font-size: 40px;
    font-weight: bold;
	color: white;
}

.person{
	width: 500px;
}
.soundmix{
	margin-left: 40%;
	margin-top: 1%;
}

.btn-back{
	height: 30px;
	margin: 30px 0 0 20px ;
	font-family: cursive;
	border-radius: 0.5rem;
}