body{
	background-color: black;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.content {
  text-align: center;
}

.child {
  color: white;
  font-size: 80px;
}