@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	/* タイトル表示部の背景色 */
	color: #fff;
	/* タイトルのテキスト色 */
	padding: 20px;
	/* タイトル表示部の上下左右の余白 */
	text-align: center;
}

h1 {
	margin: 0;
}


#slideshow-container {
	max-width: 500px;
	position: relative;
	margin: auto;
}

img {
	width: 180px;
	height: 150px;
}

.mySlides {
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
}