@charset "UTF-8";

.main{
	width:100%;
	display: block;
	background-color: white;
}

img {
	width: 200px;
	height: 150px;
}

.mySlides {
	margin:auto;
	display: block;
	width: 250px;
	height: auto;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(./img/背景3.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

span{
	font-family: cursive;
	max-width: 130px;
}
.myPersons{
	z-index: 5;
	padding-top: 20%;
}
.myFaces{
	position: relative;
	margin-right:80%;
	z-index: 10;
}

/** ボタン装飾 */
.musicbtn {
	display: block;
	position: absolute;
	width: 65px;
	height: 66px;
	background-color: #fff;
	border-radius: 50%;
}

/** ボタン配置(左) */
#red1 {
	margin-top: -32%;
	margin-left: 12%;
}

#red2 {
	margin-top: -24.5%;
	margin-left: 8.5%;
}

#red3 {
	margin-top: -18%;
	margin-left: 2%;
}

#red4 {
	margin-top: -35%;
	margin-left: 20.5%;
}

#blue1{
	margin-top: -26%;
	margin-left: 18%;
}

#blue2{
	margin-top: -17%;
	margin-left: 12%;
}

#blue3{
	margin-top: -10%;
	margin-left: 2.5%;
}

/** ボタン配置(右) */
#blue4{
	margin-top: -35%;
	margin-left: 74.5%;
}

#blue5{
	margin-top: -26%;
	margin-left: 78%;
}

#green1{
	margin-top: -17%;
	margin-left: 83.5%;
}

#green2 {
	margin-top: -10%;
	margin-left: 92%;
}

#green3 {
	margin-top: -32%;
	margin-left: 84%;
}

#green4 {
	margin-top: -24.5%;
	margin-left: 88%;
}

#green5 {
	margin-top: -18%;
	margin-left: 94%;
}