@charset "UTF-8";

.main{
	width:100%;
	display: block;
	background-color: white;
}

.mySlides
.mySlides2 {
	margin:auto;
	display: block;
	width: 250px;
	height: auto;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(./img/背景3.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

span{
	font-family: cursive;
	max-width: 130px;
}
.myPersons{
	z-index: 5;
	padding-top: 17.8%;
}
.myFaces{
	position: relative;
	margin-right:80%;
	z-index: 10;
}

/** ボタン装飾 */
.lightbtn {
	height: 60px;
	width: 60px;
	margin-top: 0;
	margin-left: 0;
}

.musicbtn {
	display: block;
	position: absolute;
}

/** black ticket */

/** blue ticket */

/** red ticket */
/** ボタン配置(左) */
#square1 {
	margin-top: -29%;
	margin-left: 2.5%;
}

#square2 {
	margin-top: -32%;
	margin-left: 12%;
}

#square3 {
	margin-top: -24.5%;
	margin-left: 8.5%;
}

#square4 {
	margin-top: -19%;
	margin-left: 2%;
}

#square5{
	margin-top: -35%;
	margin-left: 21.5%;
}

#percent1{
	margin-top: -27.5%;
	margin-left: 19%;
}

#percent2{
	margin-top: -20%;
	margin-left: 15%;
	
}

#percent3{
	margin-top: -14%;
	margin-left: 9%;
	
}

#clover1{
	margin-top: -10%;
	margin-left: 2%;
}

/** ボタン配置(右) */
#clover2{
	margin-top: -35%;
	margin-left: 74%;
}

#clover3 {
	margin-top: -27.5%;
	margin-left: 77%;
}

#clover4 {
	margin-top: -20%;
	margin-left: 81%;
}

#clover5 {
	margin-top: -14%;
	margin-left: 86%;
}

#doublecircle1 {
	margin-top: -10%;
	margin-left: 93%;
}

#doublecircle2 {
	margin-top: -32%;
	margin-left: 84%;
}

#doublecircle3 {
	margin-top: -24.5%;
	margin-left: 88%;
}

#doublecircle4 {
	margin-top: -19%;
	margin-left: 94%;
}

#doublecircle5 {
	margin-top: -29%;
	margin-left: 94%;
}

/** new white ticket */
/** ボタン配置(左) */
#red1 {
	margin-top: -32%;
	margin-left: 12%;
}

#red2 {
	margin-top: -24.5%;
	margin-left: 8.5%;
}

#red3 {
	margin-top: -18%;
	margin-left: 2%;
}

#red4 {
	margin-top: -35%;
	margin-left: 20.5%;
}

#blue1{
	margin-top: -26%;
	margin-left: 18%;
}

#blue2{
	margin-top: -17%;
	margin-left: 12%;
}

#blue3{
	margin-top: -10%;
	margin-left: 2.5%;
}

/** ボタン配置(右) */
#blue4{
	margin-top: -35%;
	margin-left: 74.5%;
}

#blue5{
	margin-top: -26%;
	margin-left: 78%;
}

#green1{
	margin-top: -17%;
	margin-left: 83.5%;
}

#green2 {
	margin-top: -10%;
	margin-left: 92%;
}

#green3 {
	margin-top: -32%;
	margin-left: 84%;
}

#green4 {
	margin-top: -24.5%;
	margin-left: 88%;
}

#green5 {
	margin-top: -18%;
	margin-left: 94%;
}