@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* タイトル表示部の背景色 */
    color: #fff; /* タイトルのテキスト色 */
    padding: 20px; /* タイトル表示部の上下左右の余白 */
    text-align: center;
}

h1 {
    margin: 0;
    font-family:"Gabriola";
    font-weight: bold;
}
.img{
	height: 500px;
	width: 500px;
}

/** チケットの位置サイズ */
button {
	border: none;
	background-color: #FFF;
}

img {
	width: 95%;
}

.flex {
	display: flex;
}

.bottom {
	margin-bottom: 30px;
}

h1.bottom{
	font-size: 70px;
	margin-left:35%;
}
.hiddenGIF {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-45%);
	width: 1000px;
}

/** チケットhoverの動き */
.hover-ticket,
.hover-ticket::before,
.hover-ticket::after {
  transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  
}
.hover-ticket {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.hover-ticket::before,
.hover-ticket::after {
  opacity: 0;
  position: absolute;
}
.hover-ticket::before {
  z-index:0;
  position: absolute;
  content: '';
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  transition-duration: 0.5s;
  border-radius: 8px;
  width: 615.7px;
  height: 223px;
}
.hover-ticket::after {
  color: #fff;
  content: "Attend a concert";
  font-family:"Gabriola";
  font-size: 60px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition-duration: 0.2s;
}
.hover-ticket:hover::after {
  transition-delay: .5s;
}
.hover-ticket:hover::before,
.hover-ticket:hover::after {
  opacity: 1;
}

/* フェードイン */
.wrap {
	animation: fadein 1s forwards;
}

@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}
body{
	background-image: url(./img/ticket/background.png);
	background-size: 100% 110%;
	background-repeat:  no-repeat;
}