<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/play.css}" href="../static/play.css">
<head>
    <meta charset="UTF-8">
    <title>こんにちはタイトル</title>
</head>

<body>
    <!-- ヘッダー共通部分 -->
	<div th:insert="~{com/_header}"></div>
	<!-- コンサート会場共通部分 -->
	<div th:insert="~{com/_b-img}"></div>

    <input type="button" id="b1" value="ボタン1">
    <input type="button" id="b2" value="ボタン2">
    <input type="button" id="b3" value="ボタン3">
    <input type="button" id="b4" value="ボタン4">
    <input type="button" id="b5" value="ボタン5">
    
    <!-- script共通部分 -->
	<div th:insert="~{com/_b-script}"></div>

</body>
</html>