<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/play.css}" href="../static/play.css">
<link rel="stylesheet" th:href="@{/common.css}" href="../static/common.css">
<link rel="stylesheet" th:href="@{/bpm.css}" href="../static/bpm.css">
<head>
    <meta charset="UTF-8">
    <title>こんにちはタイトル</title>
</head>

<body>
    <!-- ヘッダー共通部分 -->
	<div th:insert="~{com/_header}"></div>
	<!-- コンサート会場共通部分 -->
	<div th:insert="~{com/_b-img}"></div>
	
	<a class="musicbtn btn-border" id="egroup1"><img id="1" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="egroup2"><img id="2" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="moon1"><img id="3" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="moon2"><img id="4" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="moon3"><img id="5" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="traiangle1"><img id="6" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="traiangle2"><img id="7" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="traiangle3"><img id="8" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="beans1"><img id="9" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="beans2"><img id="10" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<script th:src="@{../js/changeString100.js}" src="../static/js/changeString100.js"></script>
	<script th:src="@{../js/musicplay120.js}" src="../js/musicplay100.js"></script>
	<!-- script共通部分 -->
	<div th:insert="~{com/_b-script}"></div>

</body>
</html>