<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/play.css}" href="../static/play.css">
<link rel="stylesheet" th:href="@{/common.css}" href="../static/common.css">
<link rel="stylesheet" th:href="@{/bpm.css}" href="../static/bpm.css">
<head>
	<meta charset="UTF-8">
	<title>こんにちはタイトル</title>
</head>

<body>
	<!-- ヘッダー共通部分 -->
	<div th:insert="~{com/_header}"></div>
	<!-- コンサート会場共通部分 -->
	<div th:insert="~{com/_b-img}"></div>
	
		<a class="musicbtn btn-border" id="square1"><img id="1" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="square2"><img id="2" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="square3"><img id="3" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="square4"><img id="4" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="square5"><img id="5" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="percent1"><img id="6" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="percent2"><img id="7" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="percent3"><img id="8" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="clover1"><img id="9" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="clover2"><img id="10" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="clover3"><img id="11" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="clover4"><img id="12" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="clover5"><img id="13" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="doublecircle1"><img id="14" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="doublecircle2"><img id="15" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="doublecircle3"><img id="16" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="doublecircle4"><img id="17" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<a class="musicbtn btn-border" id="doublecircle5"><img id="18" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
		<script th:src="@{../js/changeString120.js}" src="../static/js/changeString120.js"></script>
		<script th:src="@{../js/musicplay120.js}" src="../js/musicplay120.js"></script>
	
	<!-- script共通部分 -->
	<div th:insert="~{com/_b-script}"></div>
</body>

</html>