<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>こんにちはタイトル</title>
</head>

<body>
	<link rel="stylesheet" th:href="@{/play.css}" href="../static/play.css">

	<header>
		<input type="button" id="back" onclick="remove()" value="back" class="btn btnback"></input>

		<h1>Music Maker(仮)</h1>
	</header>
	<div class="main">

		<div id="slideshow-container">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん1.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん2.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん3.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん4.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん5.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん6.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん7.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん8.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん9.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん10.png}">
			<img class="mySlides" th:src="@{/img/のんちゃん/のんちゃん11.png}">
		</div>

	</div>
	<footer>
		<div class="btngroup">
			<input type="button" id="red1" value="red1" class="btn btnmusic">
			<input type="button" id="red2" value="red2" class="btn btnmusic">
			<input type="button" id="red3" value="red3" class="btn btnmusic">
			<input type="button" id="red4" value="red4" class="btn btnmusic">
			<input type="button" id="blue1" value="blue1" class="btn btnmusic">
			<input type="button" id="blue2" value="blue2" class="btn btnmusic">
			<input type="button" id="blue3" value="blue3" class="btn btnmusic">
			<input type="button" id="blue4" value="blue4" class="btn btnmusic">
			<input type="button" id="blue5" value="blue5" class="btn btnmusic">
			<input type="button" id="green1" value="green1" class="btn btnmusic">
			<input type="button" id="green2" value="green2" class="btn btnmusic">
			<input type="button" id="green3" value="green3" class="btn btnmusic">
			<input type="button" id="green4" value="green4" class="btn btnmusic">
			<input type="button" id="green5" value="green5" class="btn btnmusic">
		</div>
	</footer>

	<script th:src="@{../js/musicplay.js}" src="../js/musicplay.js"></script>
	<script>
		function remove() {
			window.location.href = '/select';
		}
	</script>


</body>

</html>