<!DOCTYPE html>
<html>
<link rel="stylesheet" th:href="@{/play.css}" href="../static/play.css">
<link rel="stylesheet" th:href="@{/common.css}" href="../static/common.css">
<link rel="stylesheet" th:href="@{/bpm.css}" href="../static/bpm.css">
<head>
    <meta charset="UTF-8">
    <title>こんにちはタイトル</title>
</head>

<body>
	<!-- ヘッダー共通部分 -->
	<div th:insert="~{com/_header}"></div>
	<!-- コンサート会場共通部分 -->
	<div th:insert="~{com/_b-img}"></div>
    
	<a class="musicbtn btn-border" id="yellow2_1"><img id="1" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="yellow2_2"><img id="2" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="yellow2_3"><img id="3" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="yellow2_4"><img id="4" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="yellow2_5"><img id="5" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="blue2_1"><img id="6" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="blue2_2"><img id="7" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="blue2_3"><img id="8" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="blue2_4"><img id="9" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="blue2_5"><img id="10" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="red2_1"><img id="11" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="red2_2"><img id="12" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<a class="musicbtn btn-border" id="red2_3"><img id="13" class="lightbtn" th:src="@{/img/light/dark.png}"></a>
	<script th:src="@{../js/changeString60.js}" src="../static/js/changeString60.js"></script>
	<script th:src="@{../js/musicplay60.js}" src="../static/js/musicplay60.js"></script>
	<!-- script共通部分 -->
	<div th:insert="~{com/_b-script}"></div>
</body>
</html>