<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 共通領域 -->

<head></head>

<body>
	<link rel="stylesheet" th:href="@{/index.css}" href="../static/index.css">
	<div class="container">
  <div class="content">
    <h2 class="frame-1">You Can Make</h2>
    <h2 class="frame-2">Fantastic Music	</h2>
    <h2 class="frame-3">From</h2>
    <h2 class="frame-4">Now!</h2>
    <h2 class="frame-5">
      <span>Save the browser.</span> 
      <span>Save Bandwidth.</span> 
      <span>Love CSS3.</span>
    </h2>
  </div>
	<script>
		setTimeout(function () {
			window.location.href = '/play';
		}, 10 * 1000);
		
	</script>
	<script th:src="@{../js/musicplay.js}" src="../js/musicplay.js"></script>
</body>

</html>