<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 共通領域 -->

<head></head>

<body>
	<div class="container">
		<h1>
			<a class="navbar-brand title-font" th:href="@{/}">WebPortal.com</a>
		</h1>
		<hr>
				<div class="input-form">

			<div class="row justify-content-center">
				<div class="col-md-6">
					<form method="post" th:action="@{/play}">
						<button type="submit" class="playButton">PLAY</button>
					</form>
				</div>
			</div>
		</div>

		<!-- 共通領域 -->

</body>

</html>